body {
  background-color: #f9f9f9;
}

.dic {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 20px;
}
h1,
h2 {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-style: italic;
}
form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px 10px;
  background-color: #fff;
  width: 100%;
}
.words {
  width: 800px;
}

form.hide {
  display: none;
}
form > input {
  width: 40%;
  font-size: 20px;
  line-height: 40px;
}
form > button {
  min-width: 8%;
  line-height: 40px;
  font-size: 20px;
  cursor: pointer;
}

form > div {
  width: 40%;
  border: 1px solid rgb(131, 131, 131);
  line-height: 40px;
  font-size: 20px;
}

button.fa.fa-pencil {
  background-color: rgb(187, 247, 192);
}
button.fa.fa-trash {
  background-color: rgb(245, 140, 98);
}
